<h2>Listing Users</h2>

<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.roles.pluck(:name).join(", ") %> 
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New User", new_user_path %>
